.container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1050px 250px auto;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding-top: 10px;
}

.header {
  width: 100%;
  z-index: 50;
  background-color: rgb(39, 112, 202);
  min-height: 70px;
}

.logo {
  width: 45px;
  height: 45px;
}

.logoDiv {
  justify-self: start;
  align-self: center;
  padding-left: 10px;
}
