.protocolName {
  margin-left: 50px;
  margin-bottom: 10px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid rgb(148, 211, 87);
  background-color: whitesmoke;
  transition: background-color 0.7s ease 0s;
  max-width: 400px;
}

.protocolName:hover {
  background-color: rgb(148, 211, 87);
}

.selectionString {
  font-size: 20px;
  /* margin-left: 20px; */
  font-family: Ibarra Real Nova;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 4;
}

.chooseAndSelect {
  display: grid;
  grid-column: span 4;
  grid-row: span 1;
  align-self: center;
  padding-left: 20px;
}

.choose {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 20px;
}

.download {
  display: grid;
  grid-column: span 1;
  align-self: center;
  justify-self: center;
}
