.buttonLogout {
  font-family: Ibarra Real Nova;
  display: inline-block;
  letter-spacing: 0.5px;
  line-height: 0.86;
  color: whitesmoke;
  border-radius: 7px;
  background-color: rgb(148, 211, 87);
  transition: background-color 0.3s ease 0s;
  text-transform: uppercase;
  padding: 10px 10px;
  display: none;
}
.buttonLogin {
  font-family: Ibarra Real Nova;
  display: inline-block;
  letter-spacing: 0.5px;
  line-height: 0.86;
  color: whitesmoke;
  border-radius: 7px;
  background-color: rgb(148, 211, 87);
  transition: background-color 0.3s ease 0s;
  text-transform: uppercase;
  padding: 10px 10px;
}

.buttonLogin:hover {
  background-color: rgb(133, 202, 69);
}
.buttonLogout:hover {
  background-color: rgb(133, 202, 69);
}

.headerButton {
  display: grid;
  place-items: center;
}
